[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Conky
Comment=Desktop integrated information applet
Exec=conky -d --pause=3
StartupNotify=false
Terminal=false
Hidden=false
Icon=conky-logomark-violet
GenericName[en_IN]=Live Desktop Applet
Comment[en_IN]=Desktop applet daemon
OnlyShowIn=OPENBOX;
